@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@600&family=Quicksand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    background-color: #1A1A1A;
    border-radius: 0;
}
body::-webkit-scrollbar-thumb{
    background: #808080;
    border-radius: 100vw;
    margin-block: 1em;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgba(128, 128, 128, 0.8);
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
@keyframes fadeBot {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeBot {
    animation-name: fadeBot;
    animation-duration: 1s;
    animation-fill-mode: both;

}
a{
    text-decoration:none;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: both;
}

a {
    text-decoration: none;
}
.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4vw;
    letter-spacing: .10em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
.section-title{
    font-size: clamp(20px, 2.4vw, 60px);
    width: 100%;
    color: rgb(255,165,0);
    display:flex;
    justify-content: center;
    margin-top: 10vh;
}