.travel-page{
    background-color: #1A1A1A;
    width: 100%;
    height: 92vh;
    margin-top: 8vh;
}
.globe-container{
    height: 92vh;
    overflow-y: hidden;
}
.marker-controls {
    max-width: 800px;
    margin: 0 auto;
  }