*
{
    overflow-x: hidden;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    margin-top: 8vh;
    width: 100vw;
    height: 200vh;
    background-color: #1A1A1A;
    display:flex;
    flex-direction: column;
}

.bg-image{
    width: 100vw;
    height: 85vh;
    background-color: tan;
}
.video-container{
    width: 100vw;
    height: 75vh;
    overflow-y: hidden;
}
#bg-video{
    object-fit: cover;
    width:100%;
    margin-bottom: 300px;
}

#pfp{
    width: 400px;
    height: auto;
    border-radius:25px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    animation: fadeIn 5s;
}

.top-container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20vh;
    width: 100vw;
    height: 80vh;
    gap: 10vw;

}
.title-container{
    gap: 4vh;
    margin-right: 20vw;
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
}
.title-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }